:root{
    --fundo: 		#df98c5;
    --frente-cartao: 		#a75388;
    --verso-cartao: #df62a0;
    --destaque: #ff0088;
    --preto: #3f0a24;
    --branco: #ffffff;

}

body{
    background-color: var(--fundo);
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}